<html ng-app="atividadeFormulario">
<head>
  <meta charset="UTF-8">
  <title>Atividade Formulario</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="bootstrap.min.js"></script>
  <style>
    .jumbotron {
      width: 600px;
      text-align: center;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    h3 {
      margin-bottom: 30px;
    }
    .table {
      margin-top: 20px;
    }
    .form-control {
      margin-bottom: 5px;
    }
    .negrito {
      font-weight: bold;
    }
  </style>
  <script src="angular.js"></script>
  <script>
      angular.module("atividadeFormulario", []);
      angular.module("atividadeFormulario").config(['$qProvider', function ($qProvider) {
          $qProvider.errorOnUnhandledRejections(false);
      }]);
      angular.module("atividadeFormulario").controller("atividadeFormularioCtrl", function ($scope, $http) {
          $scope.app = "Atividade Formulario";
          $scope.alunos = [
          ];
          $scope.sexos = ["Masculino","Feminino"];

          var carregarAlunos = function() {
              $http.get('https://cadastro-aluno.mrton-br.repl.co').then(function(data, status){
                $scope.alunos = data.data
              })
          };
          
          $scope.adicionarAluno = function (aluno) {
            console.log(aluno)
              $http.post("https://cadastro-aluno.mrton-br.repl.co", aluno).then(function(data){
                delete $scope.aluno;
                $scope.alunoForm.$setPristine();
                carregarAlunos();
              });
          };
          $scope.apagarAlunos = function (alunos) {
              $scope.alunos = alunos.filter(function (aluno) {
                  if (!aluno.selecionado) return aluno;
              });
          };
          $scope.isAlunoSelecionado = function (alunos) {
              return alunos.some(function (aluno) {
                  return aluno.selecionado;
              });
          };

          carregarAlunos();
      });
  </script>
</head>
<body ng-controller="atividadeFormularioCtrl">
<div id="content">
<div class="jumbotron">
  <h3>{{ app }}</h3>
  <table ng-show="alunos.length > 0" class="table">
    <tr text-align="center">
      <th>Alunos Web</th>
    </tr>
      <tr>
          <td><input type="text" ng-model="criterioDeBuscaNome" placeholder="Nome?"></td>
          <td><input type="text" ng-model="criterioDeBuscaMatricula" placeholder="Matricula?"></td>
      </tr>
    <tr ng-class="{'negrito': aluno.selecionado}" ng-repeat="aluno in alunos | filter:{nome:criterioDeBuscaNome} | filter: {matricula:criterioDeBuscaMatricula}">
      <td><input type="checkbox" ng-model="aluno.selecionado"/></td>
      <td>{{aluno.nome}}</td>
      <td>{{aluno.matricula}}</td>
      <td>{{aluno.sexo}}</td>
      <td>{{aluno.email}}</td>
      <td>{{ aluno.data_nasc }}</td>
        <td>{{ aluno.preco_matricula}}</td>
    </tr>
  </table>
  <hr/>
  <form name="alunoForm" method="post">
    <input class="form-control" type="text" ng-model="aluno.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="15"/><br>
    <div class="error">
    <div ng-show="alunoForm.nome.$error.required"  class="alert alert-danger"> O nome é obrigatório </div>
   <div ng-show="alunoForm.nome.$error.minlength" class="alert alert-danger"> O tamanho mínimo é de 15 caracteres.</div>
    </div>
    <input class="form-control" type="text" ng-model="aluno.matricula" name="matricula" placeholder="Matrícula" ng-required="true" ng-minlength="10" ng-maxlength="11"/><br>
     <div class="error">
    <div ng-show="alunoForm.matricula.$error.required" class="alert alert-danger"> A matrícula é  obrigatória </div>
    <div ng-show="alunoForm.matricula.$error.minlength" class="alert alert-danger"> O tamanho mínimo é de 10 caracteres.</div>
    <div ng-show="alunoForm.matricula.$error.maxlength" class="alert alert-danger"> O tamanho máximo é de 11 caraacteres </div>
  </div>
    <select title="Sexo" class="form-control" ng-model="aluno.sexo" ng-init="aluno.sexo = sexo[0]" ng-options="sexo for sexo in sexos">
    </select><br>
    <input class="form-control" type="email" ng-model="aluno.email" name="email" placeholder="Email" ng-required="true" ng-pattern="/^\w+@ifpb.mail/" /><br>
   <div class="error">
    <div ng-show="alunoForm.email.$error.required" class="alert alert-danger"> O email é  obrigatório </div>
    </div>
      <input class="form-control" type="date" ng-model="aluno.data_nasc" name="data_nasc"/><br>
      <input class="form-control" type="number" ng-model="aluno.preco_matricula" name="preco_matricula" placeholder="Preço da matrícula"/><br>

      <input type="submit" name="Enviar" ng-click="adicionarAluno(aluno)" ng-disabled="alunoForm.$invalid" class="btn btn-primary">
  </form>
  
  </div>

  <div ng-show="alunoForm.nome.$error.required" class="alert alert-danger">
    Por favor, preencha o campo nome!
  </div>

    <div ng-show="alunoForm.nome.$error.minlength" class="alert alert-danger">
        O nome do novo aluno está muito pequeno!
    </div>

  <div ng-show="alunoForm.matricula.$error.required" class="alert alert-danger">
    Por favor, preencha o campo matrícula!
  </div>
    <div ng-show="alunoForm.matricula.$error.minlength || alunoForm.matricula.$error.maxlength" class="alert alert-danger">
        A matrícula do novo aluno está inválida!
  </div>

  <div ng-show="alunoForm.email.$error.required" class="alert alert-danger">
    Por favor, preencha o campo email!
  </div>

  <div ng-show="alunoForm.email.$error.pattern" class="alert alert-danger">
      O e-mail do novo aluno está inválido!
  </div>

  <button class="btn btn-danger btn-block" ng-click="apagarAlunos(alunos)" ng-if="isAlunoSelecionado(alunos)">Apagar Alunos</button>
</div>
</body>
</html>
